html {
    background-color: rgba(61, 64, 91, 0.3);
}
body {
    margin-top: 5%;
    text-align: center;
}
form {
    display: inline-block;
}
.title {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* FOCUS */
*:focus {
    outline: none !important;
    border: 0 !important;
}

input{
    padding-top: 10px;
}

