<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined"
    rel="stylesheet"/>
  </head>
  <mat-toolbar id="toolbar" [ngStyle]="{'background-color':color}">
      <span class="logo_name">Roommate recommendation</span>
      <span class="example-spacer"></span>
      <app-link *ngIf="role === null" class="link" text="Home" source="home"></app-link>
      <app-link *ngIf="role === null" class="link" text="Log in" source="login"></app-link>
      <app-link *ngIf="role === null" class="link" text="Sign up" source="signup" style="background-color: #4b6c5c;border-radius: 15px;"></app-link>
      
      <app-user-toolbar *ngIf="role === 'USER'"></app-user-toolbar>
      <app-admin-toolbar *ngIf="role === 'ADMIN'"></app-admin-toolbar>
  
  </mat-toolbar>
