<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined"
    rel="stylesheet"/>
  </head>
  <mat-toolbar id="toolbar" [ngStyle]="{'background-color':'#3d405b'}">
    <app-link class="link" text="Notifications" source="notifications"></app-link>
    <app-link class="link" text="Requests" source="requests"></app-link>
    <app-link class="link" text="Management" source="requests-accept-cancel"></app-link>
    <app-link class="link" text="Validate" source="validation-cert"></app-link>
    <app-link class="link" text="Revoke" source="revoke-certs"></app-link>
    <app-link class="link" text="Logout" (click)="logout()" ></app-link>

  </mat-toolbar>