#navigation {
    width: 100%;
    height: 10%;
    justify-content: flex-end;
  }
  
  span{
    color:white
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  
  .logo_name{
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;
    color: #81b29a;
  }
  mat-mdc-icon-button {
    margin-top: 0px;
    padding-top: 0px;
  
  }
  
  mat-toolbar-single-row{
  
    padding: 0px;
    margin: 0px;
    text-align: center;
  }
  
  mat-icon{
    color: #81b29a;
    font-size: 38px;
      height: 38px ;
      width: 38px;
      margin-left: 15px;
    
  }
  
  