<div class="background-image">
    <img src="assets/roommates1.jpeg" alt="Background Image">
    <div class="cover-container">
      <div class="inner-cover">
        <h1 class="cover-heading">Find your Perfect Roommate</h1>
        <p class="lead">Find your perfect roommate with ease! Explore our platform to connect with like-minded individuals looking for shared accommodation.</p>
        <p class="lead">
          <button mat-raised-button color="primary" class="button" (click)="goToRoommates()">Roommates</button>
          <button mat-raised-button color="primary" class="button" (click)="goToAccomodations()">Accomodations</button>
        </p>
      </div>
    </div>
  </div>
  
  