<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
    <div class="center">
        <h1>Accommodation preferences</h1>
        <hr color="gray">
        <form class="form" [formGroup]="preferencesForm">
                 
        <mat-form-field appearance="fill">
          <mat-label>Number of rooms</mat-label>
          <input style="text-indent: 10px;" formControlName="numOfRooms" type="number" matInput>
          <mat-error *ngIf="preferencesForm.get('numOfRooms')?.hasError('required')">Num of rooms is required is Required!</mat-error>
          <mat-error *ngIf="preferencesForm.get('numOfRooms')?.hasError('min')">Num of rooms must be a positive number!</mat-error>
      </mat-form-field>

    <hr>
    <mat-checkbox formControlName="closeToUni">Close to university</mat-checkbox>
    <mat-checkbox formControlName="closeToCenter">Close to center</mat-checkbox>
    <mat-checkbox formControlName="groundFloor">Ground floor</mat-checkbox>
    <mat-checkbox formControlName="topFloor">Top floor</mat-checkbox>
    <mat-checkbox formControlName="elevator">Elevator</mat-checkbox>
    <mat-checkbox formControlName="AC">AC</mat-checkbox>

    <hr>
           
        </form>
        <button class="button" style="margin-top: 10px;" mat-button (click)="savePreferences()">Confirm</button>
    </div>
</body>


