<div class="center">
    <h1>Rate the ride</h1>
    <div class="container-left">
      <h3>Rate the vehicle</h3>
    </div>
    <div style="display:inline-block;margin-top: 6px;">
      <button mat-icon-button  *ngFor="let r of ratingArr;index as i" [id]="'star_'+i" (click)="onCLick(i, true)"
        style="color: orange; margin: 0px;">
          <mat-icon>
            {{returnStar(i, true)}}
          </mat-icon>
        </button>
    </div>
    <div class="container-left">
      <h3>Rate the driver</h3>
    </div>
        <div style="display:inline-block;margin-top: 6px;">
          <button mat-icon-button  *ngFor="let r of ratingArr1;index as i" [id]="'star_'+i" (click)="onCLick(i, false)"
          style="color: orange;">
              <mat-icon>
                {{returnStar(i, false)}}
              </mat-icon>
          </button>
        </div>
        <mat-form-field class="example-full-width">
          <mat-label>Leave a comment</mat-label>
          <textarea matInput style="height: 120px;" placeholder="Ex. The ride was comfortable"></textarea>
        </mat-form-field>
        <div class="example-button-row">
          <button mat-button id="cencelBtn">Cancel</button>
          <button mat-button id="confirmBtn">Confirm</button>
        </div>
      
  
  </div>